<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar User</title>
    <link rel="stylesheet" href="../../../public/css/criauser.css">
</head>
<body>
    <div class="modal-criaruser hide">
     <div class="fade-criaruser"></div>
    <form class="modalc">
    <div class="topo-modal">
        <div class="criauser-modal">
            <img src="../../../public/assets/Logo-novelo.svg" alt="" class="novelo-modal">
        <p>Criar Usuário</p>
        </div>
        <img src="../../../public/assets/icone x.svg" alt="" class="x">
    </div>
    <div class="inputs-modal">
        <p>Nome Completo</p>
        <input type="text" placeholder="Nome Completo">
        <p>Email</p>
        <input type="text" placeholder="Email">
        <p>Senha</p>
        <input type="text" placeholder="Senha">
        <p>Tipo de Usuário</p>
        <input type="text" placeholder="Tipo de Usuário">
    </div>
    <div class="botoes-modal">
        <button class="cancelar-modal">Cancelar</button>
        <button class="criar-modal">Criar Usuário</button>
    </div>
    </form>
    </div>
</body>
</html>