<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização</title>
</head>
<body>
    <div class="fade"></div>
    <div class="modal">
        <div class="topo">
            <img src="../../../public/assets/Logo-novelo.svg" alt="" class="novelo">
            <p>Visualizar Usuário</p>
        </div>
        <img src="../../../public/assets/icone x.svg" alt="" class="x">
    </div>
</body>
</html>