<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/vizualizacao.css">
</head>
<body>
    <div class="modal-visualizar hide">
    <div class="fadev"></div>
    <div class="modalv">
        <div class="topov">
            <div class="visualizacao">
                <img src="../../../public/assets/Logo-novelo.svg" alt="" class="novelov">
                 <p>Visualizar Usuário</p>
            </div>
        </div>
        <div class="container">
        <div class="identificacao">
            <div class="imagem">
                <img src="../../../public/assets/perfil usuario.svg" alt="" class="perfilv">
            </div>
            <div class="conteudov">
                <p>Nome de Usuário</p>
                <p class="admv">Admin</p>
            </div>
        </div>
        <div class="conteudov">
            <table>
            <tr>
                <td>Email</td>
                <td>user.email@email.com</td>
            </tr>
            <tr>
                <td>ID do Usuário</td>
                <td>000000000</td>
            </tr>
            </table>
        </div>
        <div class="rodapev">
            <button class="fechar">Fechar</button>
            <img src="../../../public/assets/Frame 76.svg" alt="" class="flor">
        </div>
        </div>
    </div>
      </div>
</body>
</html>