@font-face {
    font-family: 'Baloo';
    src: url(../../assets/Fonts/Baloo-Regular.ttf);
}
@font-face {
    font-family: 'Noah-regular';
    src: url(../../assets/Fonts/noah-regular.otf);
}
@font-face {
    font-family: 'Noah-bold';
    src: url(../../assets/Fonts/noah-bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}
    .topo{
    width: 100%;
    background-color: #FEF3E2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.criauser{
    width: 100%;
     display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    gap: 0.5rem;
}
.criauser p{
   
    font-family: 'Baloo';
    align-items: flex-start;
    color: #770523;
    font-size: 20px;
}
.novelo{
    width: 30px;
    height: 30px;
    
}
.x{
    width: 50px;
    height: 50px;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #770523;
    padding-left: 1rem;
    margin-top: 1rem;
    background-color: white;
    padding-right: 0.5rem;
}
.inputs p{
    padding-right: 3rem;
}
input{
    width: 23rem;
    height: 2.5rem;
    border: 2px solid #D0D996;
    border-radius: 20px;
    
}
input::placeholder{
    font-family: 'Noah-regular';
    padding-left: 10px;
    color: #333;
    font-size: 10px;
}
p{
    font-family: 'Noah-bold';
}
.botoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-left: 1rem;
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
     background-color: white;

}