@font-face {
    font-family: 'Baloo';
    src: url(../assets/Fonts/Baloo-Regular.ttf);
}
@font-face {
    font-family: 'Noah-regular';
    src: url(../assets/Fonts/noah-regular.otf);
}
@font-face {
    font-family: 'Noah-bold';
    src: url(../assets/Fonts/noah-bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modalc{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}
 .topo-modal{
    width: 100%;
    background-color: #FEF3E2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.criauser-modal{
    width: 100%;
     display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    gap: 0.5rem;
}
.criauser-modal p{
   
    font-family: 'Baloo';
    align-items: flex-start;
    color: #770523;
    font-size: 20px;
}
.novelo-modal{
    width: 30px;
    height: 30px;
    
}
.x{
    width: 50px;
    height: 50px;
}
.inputs-modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #770523;
    padding-left: 1rem;
    margin-top: 1rem;
    background-color: white;
    padding-right: 0.5rem;
}
.inputs-modal p{
    padding-right: 3rem;
}
input{
    width: 23rem;
    height: 2.5rem;
    border: 2px solid #D0D996;
    border-radius: 20px;
    
}
input::placeholder{
    font-family: 'Noah-regular';
    color: #333;
    font-size: 10px;
}
p{
    font-family: 'Noah-bold';
}
.foto-usuario{
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
    cursor: pointer;
    height: auto;
    padding: 0;
}

.botoes-modal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-left: 1rem;
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
     background-color: white;

}
.cancelar-modal {
    border: 2px solid #D0D996;
    background-color: white;
    border-radius: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 1.5rem;
    font-family: 'Noah-bold';
    color: #770523;

}
.criar-modal{
    border-radius: 20px;
    border: none;
    background-color: #D0D996;
    color: #770523;
     padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 1.5rem;
    font-family: 'Noah-bold';
    

}
.fade-criaruser{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}
.hide{
    display: none;
}
@media (max-width: 480px){
    .modalc{
        width: 90%;
    }
    .criauser-modal p{
        font-size: 1.2rem;
    }
    input{
        width: 99%;
    }
     .inputs-modal p{
        font-size: 12px;
    }
}