¨*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #FAD2E1;
    color: #770523;
    justify-content: end;
}
footer{
    margin-top: auto;
}
.imagem-logo{
    text-align: right;
    padding: 30px;
    background-color: #f0f0f0;
}
.imagem-logo img{
    width: 150px;
}
h3{
    text-align: center;
    margin: 20px 0;
}
h3 a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}
.redes-sociais{
    text-align: left;
    padding: 30px;
}
.redes-sociais a{
    margin-bottom: 15px;
    font-size: 18px;
}
.redes-sociais p{
    margin-bottom: 15px;
    font-size: 18px;
}
.redes-sociais a{
    margin: 0 10px;
}
.redes-sociais img{

    width: 40px;
    height: 40px;
}