@font-face {
    font-family: 'NoahBold';
    src: url(../assets/Fonts/noah-bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    color: #770523;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    font-family: 'NoahBold';

}
footer{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    background-color: #FAD2E1;
    overflow: hidden;
    margin-top: auto;
}
.imagem-logo{
}
.imagem-logo img{
    width: 200px;
    max-width: 100%;
    display: block;
}
h3{
    text-align: center;
    margin: 0;
}
h3 a {
    text-decoration: none;
    font-size: 14px;
    color: #770523;
    
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-rede p{
    font-size: 14px;
}
.logo-redesocial{
    display: flex;
    gap: px;
    

}
.redes-sociais img{

    width: 40px;
    height: 40px;
}
.sobre-nos{
    font-weight: bold;
}
.linha{
    width: 1px;
    height: 60px;
    background-color: #770523;
}