¨*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #FAD2E1;
    color: #770523;
}
footer{
    align-items: center;
    background-color: #FAD2E1;
    display: flex;
    justify-content: space-between;
}
.imagem-logo{
    padding: 30px;
}
.imagem-logo img{
    width: 150px;
}
h3{
    text-align: center;
    margin: 20px 0;
}
h3 a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
}
.redes-sociais a{
    font-size: 20px;
    font-weight: bold;
     margin: 0 10px;
}
.redes-sociais p{
    margin-bottom: 15px;
    font-size: 18px;
}
.logo-redesocial{
    display: flex;

}
.redes-sociais img{

    width: 40px;
    height: 40px;
}
.sobre-nos{
    font-size: 20px;
    font-weight: bold;
}
.linha{
    width: 1px;
    height: 60px;
    background-color: #770523;
}