@font-face {
    font-family: 'Noah Regular';
    src: url(../assets/Fonts/noah-regular.otf);
}
@font-face {
    font-family: 'Noah Bold';
    src: url(../assets/Fonts/noah-bold.otf);
}
@font-face {
    font-family: 'Baloo' ;
    src: url(../assets/Fonts/Baloo-Regular.ttf);
}
body{
    font-family: 'Noah Regular';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    z-index: 1;
}
main{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    
}
.onda-container{
    width: 50%;
    height: 100vh;
    background-image: url("../assets/onda.svg");
    
    background-size: cover;
    z-index: 2;
}
.saudacao h3{
    font-family: 'Noah';
}
.saudacao h2{
    font-family: 'Baloo';
}
.saudacao p{
    font-family: 'Noah';
}

.img-novelo {
    width: 100px;
}
.img-croche {
    width: 600px;
    align-items: flex-end;
    justify-content: end;
}
.login-container{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: top;
}
.imagem-logo{
    width: 600px;
}
