@font-face {
    font-family: 'Noah Regular';
    src: url(../assets/Fonts/noah-regular.otf);
}
@font-face {
    font-family: 'Noah Bold';
    src: url(../assets/Fonts/noah-bold.otf);
}
@font-face {
    font-family: 'Baloo' ;
    src: url(../assets/Fonts/Baloo-Regular.ttf);
}
body{
    font-family: 'Noah Regular';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onda-container{
    width: 50%;
    height: 100vh;
    background-image: url("../assets/onda.svg");
    background-repeat: no repeat;
    background-size: cover;
}
.saudacao h3{
    font-family: 'Noah';
}
.saudacao h2{
    font-family: 'Baloo';
}
.saudacao p{
    font-family: 'Noah';
}
.imagem img{
    width: 100px;
}
