@font-face {
    font-family: 'Baloo';
    src: url('../assets/fonts/Baloo-Regular.ttf');
}

@font-face {
    font-family: 'Noah';
    src: url('../assets/fonts/noah-regular.otf');
}

/* === Variáveis de cor e transição === */
:root {
    --branco: #FFFFFF;
    --bege: #FEF3E2;
    --rosa-claro: #FAD2E1;
    --verde-claro: #D0D996;
    --vinho: #770523;
    --vinho-escuro: #1F0008;
    --cinza: #CBC9C9;
}

.modalCriar {
    width: 550px;
    display: none;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--branco);
    padding: 0px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s ease;
    transform: translate(-50%, -50%);
}

.header{
    display: flex;
    flex-direction: row;
    background-color: var(--bege);
    padding: 15px;
    gap: 10px;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
}

.header img{
    width: 50px;
    height: auto;
}

.header p {
    font-family: "Baloo", sans-serif;
    font-size: 35px;
    color: var(--vinho);
}

.formContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 20px;
}


.uploadImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px var(--cinza) dashed;
    border-radius: 30px;
    transition: 0.3s;
}

.uploadImage i{
    font-size: 40px;
    color: var(--vinho);
}

.uploadImage p{
    color: var(--cinza);
}

.uploadImage:hover {
    background-color: #e2e2e281;
    cursor: pointer;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.titulo label{
    font-family: "Baloo", sans-serif;
    color: var(--vinho);
    font-size: 25px;
}


.descricao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descricao label{
    font-family: "Baloo", sans-serif;
    color: var(--vinho);
    font-size: 25px;
}

.descricao textarea{
    padding: 15px 10px;
    border: 2px solid var(--cinza);
    border-radius: 30px;
    align-items: center;
    outline: none;
    height: 100px;
    transition: 0.3s;
}

.modalCriar textarea:focus{
    border-color: var(--vinho);
}

.categoria{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.categoria label{
    font-family: "Baloo", sans-serif;
    color: var(--vinho);
    font-size: 25px;
}

.modalCriar input{
    padding: 10px;
    border: 2px solid var(--cinza);
    border-radius: 30px;
    align-items: center;
    transition: 0.3s;
    outline: none;
}

.modalCriar input:focus{
    border-color: var(--vinho);
}

.modalActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 5px;
    font-family: "Noah", sans-serif;
}

.btnCancel{
    padding: 3px 5px;
    width: 20%;
    background-color: var(--branco);
    border-radius: 30px;
    border: #D0D996 solid 2px;
    color: var(--vinho);
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
}

.btnCancel:hover{
    background-color: var(--verde-claro);
    cursor: pointer;
}

.btnCreate{
    padding: 3px 5px;
    width: 20%;
    background-color: var(--verde-claro);
    border-radius: 30px;
    border: #D0D996 solid 2px;
    color: var(--vinho);
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
}

.btnCreate:hover{
    background-color: var(--branco);
    cursor: pointer;
}


.filtro {
    width: 100%;
    height: 100%;
    background-color:var(--bege);
    opacity: 0.5;
    position: absolute;
    display: none;
}