@font-face {
    font-family: 'Noah-Regular';
    src: url(../assets/Fonts/noah-regular.otf);
}
@font-face {
    font-family: 'Noah-Bold';
    src: url(../assets/Fonts/noah-bold.otf);
}
@font-face {
    font-family: 'Baloo' ;
    src: url(../assets/Fonts/Baloo-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.sidebar{
    width: 20%;
    height: 100vh;
    background-color: #FAD2E1;
}
.perfil-adm{
    
}