@font-face {
    font-family: 'Noah-Regular';
    src: url(../fontes/noah-regular.otf);
    src: url(../fontes/noah-regular.otf);
}

@font-face {
    font-family: 'Noah-Bold';
    src: url(../fontes/noah-bold.otf);
    src: url(../fontes/noah-bold.otf);
}

@font-face{
    font-family: 'Baloo';
    src: url('../assets/fonts/Baloo-Regular.ttf');
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    width: 100%;
}
main {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #FAD2E1;
}

.bsidebar {
    display: none;
}

.paginausers {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FEF3E2;
    background-color: #FEF3E2;
    min-height: 100vh;
}

.topo {
    background-color: #FAD2E1;
    background-color: #FAD2E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0 0 1.8rem 1.8rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.15);
}
.usuarios h1{
    font-size: 2.3rem;
}
.box-perfiladm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.admin {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.textoadmin{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 7px 7px 13px;
    border-radius: 20px;
    color: white;
    background-color: #770523;
}
.textoadmin p{
    font-family: 'Noah-Regular';
}

.usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Baloo';
    gap: 10px;
    font-size: 39px;
    color: #770523;
}

.box-criauser {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: #770523;
    position: relative;
    padding: 0 15px;
    padding: 0 15px;
}

.box-criauser img {
    color: #67635E;
}

.box-criauser button {
    font-family: 'Noah-Regular';
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 20px;
    border-radius: 20px;
    background-color: #770523;
    color: white;
    font-size: 16px;
}

.busca-user {
    width: 500px;
    height: 35px;
    font-family: 'Noah-Regular';
    color: #67635E;
    border-radius: 20px;
    border-radius: 20px;
    padding-left: 30px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}
.busca::placeholder{
    font-family: 'Noah-Regular';
    color: #67635E;
    font-size: 14px;
}
.lupa {
    position: absolute;
    left: 25px;
    left: 25px;
}
.box-users {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 30px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 10px;
    padding-top: 15px;
    margin: 15px;
    margin: 15px;
    background-color: #C1CA8B;
    flex: 1;
}

.cabecalho {
    width: 100%;
    font-weight: 100;
    overflow: hidden;
    background-color: #C1CA8B;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th,
td {
    padding: 1.2rem;
    background-color: #FEF3E2;
}
td{
    font-family: 'Noah-Regular';
    text-align: left;

}
th {
    text-align: center;
     font-family: 'Baloo';
     font-size: 23px;
}

thead th {
    background-color: #C1CA8B;
    background-color: #C1CA8B;
    color: #770523;
    text-align: center;
    font-size: 30px;
}
thead tr th:first-child,
tbody tr td:first-child {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
thead tr th:last-child,
tbody tr td:last-child {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.nomec {
    display: flex;
     flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.iconuser{
    width: 45px;
    height: 45px;
}
.nomec img {
    width: 33px;
    height: 37px;
}
.iduser p{
    font-family: 'Noah-Regular';
}
.tipoc span {
    padding: 5px 7px;
    border-radius: 10px;

}
.emailc td{
    text-align: left;
}
.acoesc button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}
.emaic {
    display: flex;
     flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.btn-visualizar img, .editar img, .deletar img{
    display: flex;
    align-items: center;
    width: 15px;
}

.adm {
    border-radius: 20px;
    background-color: #FAD2E1;
    background-color: #FAD2E1;
    color: #770523;
    width: 100px;
    align-items: center;
    justify-content: center;

}

.usuario{
    border-radius: 20px;
    background-color: #FAD2E1;
    background-color: #FAD2E1;
    color: #8B7149;
    width: 100px;
    align-items: center;
    justify-content: center;

}

.paginacao {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;

}

.paginacao button {
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    border-radius: 0.6rem;
    background-color: white;
    color: #770523;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.paginacao .pag1 {
    border: none;
    background-color: #770523;
    color: white;
}

@media (max-width: 768px) {
   
    main {
        flex-direction: column;
    }
    body{
        overflow-x: hidden;
    }
    .paginausers {
        width: 100%;
        padding: 0px;
        min-height: calc(100vh - 80px);
    }

    .topo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
    }



    .usuarios {
        display: flex;
        padding-top: 10px;
        align-items: center;
    }
    .usuarios h1{
        font-size: 30px;
    }
    .usuarios img {
        width: 37px;
        width: 37px;
    }
    
    
    .box-perfiladm {
       display: flex;
    }
    .textoadmin{
        font-size: 15px;
    }
    .box-criauser {
        display: flex;
        flex-direction: column;
    }

    .box-criauser input {
        width: 95%;
        border-radius: 10px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }

    .box-criauser img {
        position: absolute;
        left: 30px;
        top: 11px;
        left: 30px;
        top: 11px;
    }

    .box-criauser button {
        width: 95%;
        height: 45px;
        border-radius: 10px;

    }
      .box-users {
        overflow-x: auto;
        overflow-y: hidden;
        padding-right: 10px;
        height: auto;
    }
   
    .cabecalho {
        min-width: 700px;
        border-spacing: 0 5px;
    }

    th,
    td {
        white-space: nowrap;
    }
    .paginacao{
        padding-left: 1rem;
    }
    .paginacao{
        padding-left: 1rem;
    }
   .paginacao button{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
   }
}