* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    gap: 0px;
}

@font-face {
    font-family: "Noah";
    src: url('../assets/fonts/noah-regular.otf') format('truetype');
}

:root {
    --branco:#FFFFFF;
    --rosa-claro: #FAD2E1;
    --verde-claro: #D0D996;
    --vinho: #770523;
    --vinho-escuro: #1F0008;
    
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}


/* ==== Sidebar Aberta ==== */
.sidebar{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    background-color: var(--rosa-claro);
    transition: var(--tran-05);
}

.botao-sidebar {
    display: flex;
    justify-content: end;
    padding: 0px 15px;
}

.botao-sidebar i {
    background-color: var(--branco);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
}

.toggle.right{
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo .stitchify{
    width: 220px;
    height: auto;
    transition: var(--tran-05);

}

.logo .novelo {
    display: none;
}

.sidebar p {
    color: var(--vinho-escuro);
    font-family: "Noah", sans-serif;
    font-weight: bolder;
    font-size: 23px;
    transition: var(--tran-02);

}

.paginas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px 5px;
}

i {
    font-size: 30px;
    color: var(--vinho);
    transition: var(--tran-02);
}

.link {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    transition: var(--tran-03);
}

.link:hover{
    background: var(--branco);
    border-radius: 25px;

}

.link:hover i{
    color: var(--verde-claro);
}

.link:hover p{
    color: var(--vinho);
}

/* ==== Sidebar Fechada ==== */

.sidebar.close{
    width: 88px;
}

.sidebar.close .toggle.left{
    display: none;
}

.sidebar.close .botao-sidebar {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
}

.sidebar.close .toggle.right{
    display: block;
}

.sidebar.close .logo .stitchify{
    display: none;
}

.sidebar.close .logo .novelo{
    display: block;
    width: 60px;
}

.sidebar.close p{
    opacity: 0;
}
