<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <div class="controle-admin">
            <div class="total-usuarios">
                <h3>Total de usuários: x</h3>
            </div>
            <div class="total-publicacoes">
                <h3>Total de publicações: y</h3>
            </div>
            <div class="admin-profile">
                <div class="profile">
                    <span class="link-profile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round-icon lucide-circle-user-round">
                            <path d="M17.925 20.056a6 6 0 0 0-11.851.001"/>
                            <circle cx="12" cy="11" r="4"/>
                            <circle cx="12" cy="12" r="10"/>
                        </svg>
                    </span>
                </div>
                <div class="caixa-admin">
                    <div class="username">
                        <h4>Guilherme Braz</h4>
                    </div>
                    <div class="admin">
                        <p>Administrador</p>
                    </div>
                </div>
                <div class="seta">
                    <span class="link-seta">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
                            <path d="m6 9 6 6 6-6"/>
                        </svg>
                    </span>
                </div>
            </div>
        </div>

        <div class="titulo">
            <h1>Dashboard</h1>
        </div>

        <div class="cards">
            <div class="card-unit">
                <div class="box">
                    <div class="box-title">
                        <h2>Usuários</h2>
                    </div>
                    <div class="box-text">
                        <p>Monitore permições e administre perfis cadastrados.</p>
                    </div>
                </div>
                <span class="vetor">
                    <svg class="home" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house">
                        <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/>
                        <path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                    </svg>
                </span>
                <button class="ver-mais">Ver mais</button>
            </div>
            <div class="card-unit">
                <div class="box">
                    <div class="box-title">
                        <h2>Publicações</h2>
                    </div>
                    <div class="box-text">
                        <p>Crie, edite e organize todas as postagens do seu blog.</p>
                    </div>
                </div>
                <span class="vetor">
                    <svg class="publi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-plus-icon lucide-image-plus">
                        <path d="M16 5h6"/>
                        <path d="M19 2v6"/>
                        <path d="M21 11.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7.5"/>
                        <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/>
                        <circle cx="9" cy="9" r="2"/>
                    </svg>
                </span>
                <button class="ver-mais">Ver mais</button>
            </div>
            <div class="card-unit">
                <div class="box">
                    <div class="box-title">
                        <h2>Logout</h2>
                    </div>
                    <div class="box-text">
                        <p>Saia do painel administrativo de forma segura.</p>
                    </div>
                </div>
                <span class="vetor">
                    <svg class="perfil" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-x-icon lucide-user-round-x">
                        <path d="M2 21a8 8 0 0 1 11.873-7"/>
                        <circle cx="10" cy="8" r="5"/>
                        <path d="m17 17 5 5"/>
                        <path d="m22 17-5 5"/>
                    </svg>
                </span>
                <button class="ver-mais">Ver mais</button>
            </div>
        </div>
    </main>
</body>
</html>