<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <img src="../../../public/assets/flor.webp" alt="Imagem de fundo">

    <main>
        <div class="controle-admin">
            <div class="total-usuarios">
                <h3>Total de usuários: x</h3>
            </div>
            <div class="total-publicacoes">
                <h3>Total de publicações: y</h3>
            </div>
            <div class="Admin-profile">
                <div class="profile">

                </div>
                <div class="caixa-admin">
                    <div class="username">
                        <h4>Guilherme Braz</h4>
                    </div>
                    <div class="admin">
                        <p>Administrador</p>
                    </div>
                </div>
                <div class="seta">

                </div>
            </div>
        </div>

        <div class="titulo">
            <h1>Dashboard</h1>
        </div>

        <div class="cards">
            <div class="card-unit">

            </div>
            <div class="card-unit">
                
            </div>
            <div class="card-unit">
                
            </div>
        </div>
    </main>
</body>
</html>