<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de usuários</title>
    <link rel="stylesheet" href="../../../public/css/pagusuario.css" />
    <link rel="stylesheet" href="../../../public/css/criauser.css"/>
  </head>

  <body>
    <main>
      <div class="sidebar">
        <button class="bsidebar">
          <img src="../../../public/assets/list.svg" alt="botao" />
        </button>
      </div>
      <div class="paginausers">
        <div class="topo">
          <div class="usuarios">
            <img src="../../../public/assets/Vector.svg" alt="iconeuser" />
            <h2>Tabela de usuários</h2>
          </div>
          <div class="box-perfiladm">
            <div class="admin">
              <img
                src="../../../public/assets/PersonCircle.svg"
                alt="iconeperfil"
              />
              <div class="textoadmin">
                <p>Ola, Admin</p>
                <p>Administrador</p>
              </div>
            </div>
            <img
              src="../../../public/assets/Down Arrow.svg"
              alt="iconemaisadmin"
            />
          </div>
        </div>
        <div class="linha"></div>
        <div class="box-criauser">
          <img src="../../../public/assets/lupa.svg" alt="lupa" class="lupa" />
          <input type="text" placeholder="Busca por nome ou email" />
          <button>+ Criar Usuário</button>
        </div>
        <div class="box-users">
          <table class="cabecalho">
            <thead>
              <tr>
                <th class="usuário">USUÁRIO</th>
                <th class="email">EMAIL</th>
                <th class="tipo">TIPO</th>
                <th class="iduser">ID DO USUÁRIO</th>
                <th>AÇÕES</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="nomec">
                  <img
                    src="../../../public/assets/PersonCircle.svg"
                    alt=""
                  />Nome do usuário
                </td>
                <td class="emailc">user.email@email.com</td>
                <td class="tipoc">
                  <span class="adm"> Admin</span>
                </td>
                <td class="iduser">
                  <p>000000000</p>
                </td>
                <td class="acoesc">
                  <button class="visualizar">
                    <img
                      src="../../../public/assets/Visualizar.svg"
                      alt="visualizar"
                    />
                  </button>
                  <button class="bvisualizar">
                    <img
                      src="../../../public/assets/Visualização-branca.svg"
                      alt=""
                    />
                  </button>
                  <button class="editar">
                    <img src="../../../public/assets/Editar.svg" alt="editar" />
                  </button>
                  <button class="deletar">
                    <img
                      src="../../../public/assets/Deletar.svg"
                      alt="deletar"
                    />
                  </button>
                  <button class="filtro">
                    <img src="../../../public/assets/Ellipsis.svg" alt="list" />
                  </button>
                </td>
              </tr>
              <tr>
                <td class="nomec">
                  <img
                    src="../../../public/assets/PersonCircle.svg"
                    alt=""
                  />Nome do usuário
                </td>
                <td class="emailc">user.email@email.com</td>
                <td class="tipoc">
                  <span class="usuario"> Usuário</span>
                </td>
                <td class="iduser">
                  <p>000000000</p>
                </td>
                <td class="acoesc">
                  <button class="visualizar">
                    <img
                      src="../../../public/assets/Visualizar.svg"
                      alt="visualizar"
                    />
                  </button>
                  <button class="bvisualizar">
                    <img
                      src="../../../public/assets/Visualização-branca.svg"
                      alt=""
                    />
                  </button>
                  <button class="editar">
                    <img src="../../../public/assets/Editar.svg" alt="editar" />
                  </button>
                  <button class="deletar">
                    <img
                      src="../../../public/assets/Deletar.svg"
                      alt="deletar"
                    />
                  </button>
                  <button class="filtro">
                    <img src="../../../public/assets/Ellipsis.svg" alt="list" />
                  </button>
                </td>
              </tr>
              <tr>
                <td class="nomec">
                  <img
                    src="../../../public/assets/PersonCircle.svg"
                    alt=""
                  />Nome do usuário
                </td>
                <td class="emailc">user.email@email.com</td>
                <td class="tipoc">
                  <span class="usuario"> Usuário</span>
                </td>
                <td class="iduser">
                  <p>000000000</p>
                </td>
                <td class="acoesc">
                  <button class="visualizar">
                    <img
                      src="../../../public/assets/Visualizar.svg"
                      alt="visualizar"
                    />
                  </button>
                  <button class="editar">
                    <img src="../../../public/assets/Editar.svg" alt="editar" />
                  </button>
                  <button class="deletar">
                    <img
                      src="../../../public/assets/Deletar.svg"
                      alt="deletar"
                    />
                  </button>
                </td>
              </tr>
              <tr>
                <td class="nomec">
                  <img
                    src="../../../public/assets/PersonCircle.svg"
                    alt=""
                  />Nome do usuário
                </td>
                <td class="emailc">user.email@email.com</td>
                <td class="tipoc">
                  <span class="usuario"> Usuário</span>
                </td>
                <td class="iduser">
                  <p>000000000</p>
                </td>
                <td class="acoesc">
                  <button class="visualizar">
                    <img
                      src="../../../public/assets/Visualizar.svg"
                      alt="visualizar"
                    />
                  </button>
                  <button class="editar">
                    <img src="../../../public/assets/Editar.svg" alt="editar" />
                  </button>
                  <button class="deletar">
                    <img
                      src="../../../public/assets/Deletar.svg"
                      alt="deletar"
                    />
                  </button>
                </td>
              </tr>
              <tr>
                <td class="nomec">
                  <img
                    src="../../../public/assets/PersonCircle.svg"
                    alt=""
                  />Nome do usuário
                </td>
                <td class="emailc">user.email@email.com</td>
                <td class="tipoc">
                  <span class="usuario"> Usuário</span>
                </td>
                <td class="iduser">
                  <p>000000000</p>
                </td>
                <td class="acoesc">
                  <button class="visualizar">
                    <img
                      src="../../../public/assets/Visualizar.svg"
                      alt="visualizar"
                    />
                  </button>
                  <button class="editar">
                    <img src="../../../public/assets/Editar.svg" alt="editar" />
                  </button>
                  <button class="deletar">
                    <img
                      src="../../../public/assets/Deletar.svg"
                      alt="deletar"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="paginacao">
            <button class="voltar"><</button>
            <button class="pag1">1</button>
            <button class="pag2">2</button>
            <button class="pag3">3</button>
            <button>...</button>
            <button class="pag 5">5</button>
            <button class="proximo">></button>
          </div>
        </div>
      </div>

      <div class="modal-overlay" id="overlay-edit">
          <form class="modaledit" id="modaledit" action="" method="post">
              <div class="topo">
                  <img src="../../../public/assets/Novelo_cortado.png" alt="">
                  <p>Editar Usuário</p>
              </div>

              <div class="edit-form">
                  <div class="edit-nome">
                      <label>Nome Completo:</label>
                      <input type="text" name="nome" placeholder="Nome completo" required>
                  </div>

                  <div class="edit-email">
                      <label>Novo Email:</label>
                      <input type="email" name="email" placeholder="Email" required> 
                  </div>

                  <div class="edit-senha">
                      <label>Nova Senha:</label>
                      <input type="password" name="senha" placeholder="Nova senha" required> 
                  </div>

                  <div class="edit-tipo">
                      <label>Tipo de Usuário:</label>
                      <select name="opcoes" id="escolha">
                          <option value="" disabled selected hidden>Escolha uma opção</option>
                          <option value="user">Usuário</option>
                          <option value="admin">Admin</option>
                      </select>
                  </div>

                  <div class="botoes">
                      <button class="cancel" type="button">Cancelar</button>
                      <button class="confirm" type="submit">Confirmar alterações</button>
                  </div>
              </div>
          </form>   
      </div>

      <div class="modal-overlay" id="overlay-delete">
          <form class="modaldelete" id="modaldelete" action="" method="post">
              <div class="box-delete">
                  <span class="vetor-atencao">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert-icon lucide-triangle-alert">
                          <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/>
                          <path d="M12 9v4"/>
                          <path d="M12 17h.01"/>
                      </svg>
                  </span>

                  <div class="title-delete">
                      <p>Deletar Usuário</p>
                  </div>

                  <div class="text-delete">
                      <p>Você tem certeza que deseja deletar este usuário?</p>
                      <p>Esta ação não poderá ser desfeita.</p>
                  </div>

                  <div class="button-delete">
                      <button class="cancel-delete" type="button">Não, mantê-lo.</button>
                      <button class="confirm-delete" type="submit">Sim, deletar!</button>
                  </div>
              </div>
          </form>   
      </div>

    </main>
    <div class="modal-criaruser hide">
      <div class="fade hide"></div>
      <form class="modal">
         <div class="topo">
        <div class="criauser">
            <img src="../../assets/Logo-novelo.svg" alt="" class="novelo">
        <p>Criar Usuário</p>
        </div>
        <img src="../../assets/icone x.svg" alt="" class="x">
    </div>
    <div class="inputs">
        <p>Nome Completo</p>
        <input type="text" placeholder="Nome Completo">
        <p>Email</p>
        <input type="text" placeholder="Email">
        <p>Senha</p>
        <input type="text" placeholder="Senha">
        <p>Tipo de Usuário</p>
        <input type="text" placeholder="Tipo de Usuário">
    </div>
    <div class="botoes">
        <button class="cancelar">Cancelar</button>
        <button class="criar">Criar Usuário</button>
    </div>
      </form>
    </div>
  </body>
</html>
