<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>
    <link rel="stylesheet" href="../../../public/css/pagusuario.css">
</head>

<body>
    <main>
        <div class="sidebar"><button class="bsidebar"><img src="../../../public/assets/list.svg" alt="botao" ></button>
</div>
        <div class="paginausers">
            <div class="topo">
                <div class="usuarios">
                    <img src="../../../public/assets/Vector.svg" alt="iconeuser">
                    <h2>Tabela de usuários</h2>
                    </div>
            <div class="box-perfiladm">
                     
                    <div class="admin">
                    <img src="../../../public/assets/PersonCircle.svg" alt="iconeperfil">
                    <div class="textoadmin">
                        <p>Ola, Admin</p>
                        <p>Administrador</p>
                    </div>
                    </div>
                    <img src="../../../public/assets/Down Arrow.svg" alt="iconemaisadmin">
                   
            </div>
            </div>
             <div class="linha"></div>
            <div class="box-criauser">
                <img src="../../../public/assets/lupa.svg" alt="lupa" class="lupa">
                <input type="text" placeholder="Busca por nome ou email">
                    <button>+ Criar Usuário</button>

                
            </div>
            <div class="box-users">
                <table class="cabecalho">
                    <thead>
                    <tr>
                        <th class="usuário">USUÁRIO</th>
                        <th class="email">EMAIL</th>
                        <th class="tipo">TIPO</th>
                        <th class="iduser">ID DO USUÁRIO</th>
                        <th>AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                         <td class="nomec"><img src="../../../public/assets/PersonCircle.svg" alt="" class="nimg">Nome do usuário</td>
                        <td class="emailc">user.email@email.com</td>
                        <td class="tipoc">
                            <span class="adm"> Admin</span>
                        </td>
                        <td class="iduser">
                            <p>000000000</p>
                        </td>
                        <td class="acoesc">
                                <button class="visualizar"><img src="../../../public/assets/Visualizar.svg"
                                        alt="visualizar"></button>
                                <button class="editar"><img src="../../../public/assets/Editar.svg"
                                        alt="editar"></button>
                                <button class="deletar"><img src="../../../public/assets/Deletar.svg"
                                        alt="deletar"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="nomec"><img src="../../../public/assets/PersonCircle.svg" alt="">Nome do usuário</td>
                        <td class="emailc">user.email@email.com</td>
                        <td class="tipoc">
                            <span class="usuario"> Usuário</span>
                        </td>
                        <td class="iduser">
                            <p>000000000</p>
                        </td>
                        <td class="acoesc">
                                <button class="visualizar"><img src="../../../public/assets/Visualizar.svg"
                                        alt="visualizar"></button>
                                <button class="editar"><img src="../../../public/assets/Editar.svg"
                                        alt="editar"></button>
                                <button class="deletar"><img src="../../../public/assets/Deletar.svg"
                                        alt="deletar"></button>
                        </td>
                    </tr> <tr>
                        <td class="nomec"><img src="../../../public/assets/PersonCircle.svg" alt="">Nome do usuário</td>
                        <td class="emailc">user.email@email.com</td>
                        <td class="tipoc">
                            <span class="usuario"> Usuário</span>
                        </td>
                        <td class="iduser">
                            <p>000000000</p>
                        </td>
                        <td class="acoesc">
                                <button class="visualizar"><img src="../../../public/assets/Visualizar.svg"
                                        alt="visualizar"></button>
                                <button class="editar"><img src="../../../public/assets/Editar.svg"
                                        alt="editar"></button>
                                <button class="deletar"><img src="../../../public/assets/Deletar.svg"
                                        alt="deletar"></button>
                        </td>
                    </tr> <tr>
                        <td class="nomec"><img src="../../../public/assets/PersonCircle.svg" alt="">Nome do usuário</td>
                        <td class="emailc">user.email@email.com</td>
                        <td class="tipoc">
                            <span class="usuario"> Usuário</span>
                        </td>
                        <td class="iduser">
                            <p>000000000</p>
                        </td>
                        <td class="acoesc">
                                <button class="visualizar"><img src="../../../public/assets/Visualizar.svg"
                                        alt="visualizar"></button>
                                <button class="editar"><img src="../../../public/assets/Editar.svg"
                                        alt="editar"></button>
                                <button class="deletar"><img src="../../../public/assets/Deletar.svg"
                                        alt="deletar"></button>
                        </td>
                    </tr> <tr>
                        <td class="nomec"><img src="../../../public/assets/PersonCircle.svg" alt="">Nome do usuário</td>
                        <td class="emailc">user.email@email.com</td>
                        <td class="tipoc">
                            <span class="usuario"> Usuário</span>
                        </td>
                        <td class="iduser">
                            <p>000000000</p>
                        </td>
                        <td class="acoesc">
                                <button class="visualizar"><img src="../../../public/assets/Visualizar.svg"
                                        alt="visualizar"></button>
                                <button class="editar"><img src="../../../public/assets/Editar.svg"
                                        alt="editar"></button>
                                <button class="deletar"><img src="../../../public/assets/Deletar.svg"
                                        alt="deletar"></button>
                        </td>
                    </tr> <tr>
                        <td class="nomec"><img src="../../../public/assets/PersonCircle.svg" alt="">Nome do usuário</td>
                        <td class="emailc">user.email@email.com</td>
                        <td class="tipoc">
                            <span class="usuario"> Usuário</span>
                        </td>
                        <td class="iduser">
                            <p>000000000</p>
                        </td>
                        <td class="acoesc">
                                <button class="visualizar"><img src="../../../public/assets/Visualizar.svg"
                                        alt="visualizar"></button>
                                <button class="editar"><img src="../../../public/assets/Editar.svg"
                                        alt="editar"></button>
                                <button class="deletar"><img src="../../../public/assets/Deletar.svg"
                                        alt="deletar"></button>
                        </td>
                    </tr>
                    
                     
                    </tbody>
                </table>
                <div class="paginacao">
                    <button class="voltar"><</button>
                            <button class="pag1">1</button>
                            <button class="pag2">2</button>
                            <button class="pag3">3</button>
                            <span>...</span>
                            <button class="pag 5">5</button>
                            <button class="proximo">></button>
                </div>
            </div>
        </div>

    </main>
</body>

</html>