<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Posts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <main>
        <div class="barra-de-pesquisa">
            <h2>Buscar</h2>
            <span class="link-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search">
                    <path d="m21 21-4.34-4.34"/>
                    <circle cx="11" cy="11" r="8"/>
                </svg>
            </span>
            <span class="link-filter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-filter-icon lucide-list-filter">
                    <path d="M2 5h20"/>
                    <path d="M6 12h12"/>
                    <path d="M9 19h6"/>
                </svg>
            </span>
        </div>
        <div class="titulo">
            <h1>Nossos Posts</h1>
        </div>
        <div class="div-cards">
            <div class="cards">
                <img src=".assets/flor.webp" alt="">

                <h3>Lorem Ipsum</h3>

                <p><b>Autor: </b></p>
                <p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Sispendisse imperdiet maximus sodales.
                </p>
                <button>Ver mais</button>
            </div>

            <div class="cards">
                <img src=".assets/flor.webp" alt="">

                <h3>Lorem Ipsum</h3>

                <p><b>Autor: </b></p>
                <p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Sispendisse imperdiet maximus sodales.
                </p>
                <button>Ver mais</button>
            </div>

            <div class="cards">
                <img src=".assets/flor.webp" alt="">

                <h3>Lorem Ipsum</h3>

                <p><b>Autor: </b></p>
                <p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Sispendisse imperdiet maximus sodales.
                </p>
                <button>Ver mais</button>
            </div>
        </div>
        <div class="div-cards">
            <div class="cards">
                <img src=".assets/flor.webp" alt="">

                <h3>Lorem Ipsum</h3>

                <p><b>Autor: </b></p>
                <p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Sispendisse imperdiet maximus sodales.
                </p>
                <button>Ver mais</button>
            </div>

            <div class="cards">
                <img src=".assets/flor.webp" alt="">

                <h3>Lorem Ipsum</h3>

                <p><b>Autor: </b></p>
                <p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Sispendisse imperdiet maximus sodales.
                </p>
                <button>Ver mais</button>
            </div>

            <div class="cards">
                <img src=".assets/flor.webp" alt="">

                <h3>Lorem Ipsum</h3>

                <p><b>Autor: </b></p>
                <p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Sispendisse imperdiet maximus sodales.
                </p>
                <button>Ver mais</button>
            </div>
        </div>
        <div class="paginacao">
            <nav>
                <ul class="num-paginacao">
                    <li class="seta"><a href="pagina0.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left">
                                <path d="m15 18-6-6 6-6"/>
                            </svg>
                        </a>
                    </li>
                    <li><a href="pagina1.html">1</a></li>
                    <li><a href="pagina2.html">2</a></li>
                    <li><a href="pagina3.html">3</a></li>
                    <li><a href="pagina4.html">4</a></li>
                    <li><a href="pagina5.html">5</a></li>
                    <li class="tres-pontos"><span>...</span></li>
                    <li><a href="pagina12.html">12</a></li>
                    <li class="seta"><a href="pagina100.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right">
                                <path d="m9 18 6-6-6-6"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
</body>
</html>