<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>

<body>
    <main>
       <div class="onda-container">
            <div class="saudacao">
                <h3>Bem vindo de volta </h3>
                <h2>a sua <span>criatividade!</span></h2>
                <p>Entre em sua conta e continue criando <br>peças únicas com os fios</p>
            </div>
            
                <img class="img-novelo" src="../../../public/assets/Novelo-logo 2.png" alt="Novelo">
                <img class="img-croche" src="../../../public/assets/croche-malu.png" alt="cesto com o croche">
            
       </div>
       <div class="login-container">
                <img class="imagem-logo" src="../../../public/assets/logo-stitchify.png" alt="logo stitchify">
        
        <div class="inputs">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
            <button type="submit">Entrar</button>
        </div>
        <div class="inscricao">
            <p>Ainda não tem conta? <a href="#"> Inscreva-se</a></p> 
        </div>
       </div>
    </main>
</body>

</html>