<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>

<body>
    <main>
       <div class="onda-container">
            <div class="saudacao">
                <h3>Bem vindo de volta </h3>
                <h2>a sua criatividade!</h2>
                <p>Entre em sua conta e continue criando peças únicas com os fios</p>
            </div>
            <div class="imagem">
                <img src="../../../public/assets/Novelo-logo 2.png" alt="Novelo">
                <img src="../../../public/assets/croche-malu.png" alt="cesto com o croche">
            </div>
       </div>
       <div class="login-container">
        <div class="imagem-logo">
                <img src="../../../public/assets/logo-stitchify.png" alt="logo stitchify">
        </div>
        <div class="inputs">

            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
        </div>
       </div>
    </main>
</body>

</html>