<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>
</head>
<body>
    <main>
        <div class="">

        </div>
        <table>
            <tr>
                <th>NOME</th>
                <th>EMAIL</th>
                <th>TIPO</th>
                <th>STATUS</th>
                <th>DATA DE CADASTROS</th>
                <th>AÇÕES</th>
            </tr>
            <tr>
                <td>user1</td>
                <td>useremail1@email.com</td>
                <td>admin</td>
                <td>ativo</td>
                <td>06/05/2025 14:38</td>
                <td>
                    <div class="acoes">
                        <button class="visualizar"><img src="../../../public/assets/Visualizar.svg" alt="visualizar"></button>
                        <button class="editar"><img src="../../../public/assets/Editar.svg" alt="editar"></button>
                        <button class="deletar"><img src="../../../public/assets/Deletar.svg" alt="deletar"></button>
                    </div>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>