
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stitchify</title>
    <link rel="stylesheet" href="../../../public/css/Post-individual.css">

    <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <div class="container">

              
        <h2 class="titulo-pagina">Publicações</h2>
        
        <div class="conteudo">
            
            <section class="post">

                <h1>Porta Copo</h1>

                <div class="info-post">
                    <span>
                        <i class="bi bi-person"></i>
                        Amanda_Crochezeira
                    </span>
                    <span>
                        <i class="bi bi-calendar"></i>
                        25 de abril de 2026
                    </span>
                    <span>
                        <i class="bi bi-geo-alt"></i>
                        Juiz de Fora, Brasil
                    </span>
                </div>

                <img 
                    src="../../../public/assets/porta-copo.jpg" 
                    alt="Porta copo de crochê"
                    class="imagem-post"
                >

                <p>
                    Um porta-copo de crochê artesanal feito com carinho,
                    unindo beleza, praticidade e um toque acolhedor para qualquer ambiente. 
                    Produzido com fios de qualidade e pontos delicados, ele protege superfícies 
                    contra manchas e calor, enquanto adiciona charme e personalidade à decoração. 
                    Perfeito para quem valoriza peças feitas à mão, esse acessório combina funcionalidade 
                    com o encanto único do crochê, trazendo um detalhe especial para sua mesa ou cantinho do café.
                </p>

            </section>
            
            <aside class="sidebar">
              
                <div class="autor-card">

                    <h2>Sobre o Autor</h2>

                    <img 
                        src="../../../public/assets/fotousuario.jpg" 
                        alt="Foto do autor"
                        class="foto-perfil"
                    >

                    <button>Ver Perfil</button>

                </div>

                <div class="categorias">

                    <h2>Categorias</h2>

                    <ul>
                        <li>Dicas</li>
                        <li>Materiais</li>
                        <li>Tutoriais</li>
                        <li>Roupas</li>
                    </ul>

                </div>

            </aside>

        </div>

    </div>

    
</body>
</html>