<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="  ../../../public/css/tabelapost.css">

    <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="layout">

        
        <aside class="sidebar"></aside>

        
        <main class="content">
            <header class="topbar">

                <div class="title-area">

                    <i class="bi bi-card-checklist"></i>

                    <h1>Tabela de Post</h1>

                </div>

                <div class="profile">

                    <i class="bi bi-bell"></i>

                    <div class="avatar">
                        <img 
                        src="../../../public/assets/fotousuario.jpg" 
                        alt="Foto do usuario"
                        class="foto-perfil"
                        >
                    </div>

                    <button class="admin-btn">
                        Adimin
                        <i class="bi bi-caret-down-fill"></i>
                    </button>

                </div>

            </header>
                
                <section class="table-section">

                    <div class="table-actions">
                    
                        <div class="left-actions">

                            <button>
                                <i class="bi bi-plus-square"></i>
                                Adicionar
                            </button>

                            <button>
                                <i class="bi bi-calendar-event"></i>
                                
                                </button>

                        </div>

                        <div class="search-box">

                            <input type="text" placeholder="Buscar posts">

                            <i class="bi bi-search"></i>

                        </div>

                    </div>

                </section>

            </main>    
        </main>

    </div>

</body>
  
</html>