<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="redes-sociais">
            <p>Redes Sociais</p>
            <div class="logo-redesocial">
                <a href="#"><img src="/public/assets/logoinstagram.png" alt="logo-instagram"></a>
                <a href="#"><img src="/public/assets/logoyoutube.png" alt="logo-youtube"></a>
                <a href="#"><img src="/public/assets/logofacebook.png" alt="logo-facebook"></a>
            </div>
        </div>
        
        <div class="linha"></div>
            <h3 id="sobre nós"><a href="#">Sobre nós</a></h3>
        <div class="linha"></div>
        <div class="imagem-logo">
            <img src="/public/assets/Logo 1 (1).png" alt="Logo Stitchify">
        </div>
    </footer>
</body>

</html>