<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../../public/css/login.css">
</head>
<body>
    <main>
    <div class="boxlogin">
    <div class="imagem-logo">
        <img src="../../../public/assets/Logo 1 (1).png" alt="Logo Stitchify">
    </div>
    <form class="login">
    <div class="email">
    <label for="email"></label>
    <input type="email" placeholder="Email">
    </div>

    <div class="senha">
    <label for="senha"></label>
    <input type="senha" placeholder="Senha">
    </div>

    <button type="submit">Entrar</button>

    </form>


    <div class="Inscricao">
        <p>Não possui login?<a href="#">Inscreva-se</a></p>
    </div>

    </div>
    </main>
    
</body>
</html>